<div id="footer">
  <div class="social">
    <div class="icon">
      <img src="../../assets/images/icon/fb.png" alt="">
    </div>
    <div class="icon">
      <img src="../../assets/images/icon/twitter.png" alt="">
    </div>
    <div class="icon">
      <img src="../../assets/images/icon/linked.png" alt="">
    </div>
    <div class="icon">
      <img src="../../assets/images/icon/insta.png" alt="">
    </div>
  </div>
  <div class="link">
    <p>UNSUBSCRIBE </p>
    <div>|</div>
    <p>PRIVACY POLICY </p>
    <div>|</div>
    <p>WEB</p>

  </div>
  <p class="desc">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, ullam. Accusamus, quas fugiat quos reprehenderit
    quibusdam nobis ad error? Exercitationem eaque quas nulla ab sunt
  </p>

</div>
