<div class=" wrapper">
  <div class="inner row">
    <div class="img-wrapper col-md-12 col-lg-6">
      <div class="img">
        <img [src]="image" alt="">
        <app-loading [toggle]="loadingStatus"></app-loading>
      </div>
    </div>
    <div class="content col-md-12 col-lg-6">
      <h1 class="heading">
        {{heading}}
        <app-loading [toggle]="loadingStatus"></app-loading>
      </h1>
      <p class="desc">{{desc}}
        <app-loading [toggle]="loadingStatus"></app-loading>
      </p>
      <div class="title">
        <p>&nbsp;&nbsp;&nbsp; Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis minima facere
          voluptate et
          labore, eius
          modi repellat? Fugiat error esse, sit facere qui optio earum neque sed tenetur! Autem, repellendus!. Lorem,
          ipsum dolor sit amet consectetur adipisicing elit. Officia, dolor totam, nihil modi enim quaerat
          exercitationem, sed inventore dicta eos provident laborum tempore? Magnam laborum natus minima eum sint
          consectetur. </p>
        <p>&nbsp;&nbsp;&nbsp; Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis minima facere
          voluptate et
          labore, eius
          modi repellat? Fugiat error esse, sit facere qui optio earum neque sed tenetur! Autem, repellendus!. Lorem,
          ipsum dolor sit amet consectetur adipisicing elit. Officia, dolor totam, nihil modi enim quaerat
          exercitationem, sed inventore dicta eos provident laborum tempore? Magnam laborum natus minima eum sint
          consectetur. </p>
        <p>&nbsp;&nbsp;&nbsp; Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis minima facere
          voluptate et
          labore, eius
          modi repellat? Fugiat error esse, sit facere qui optio earum neque sed tenetur! Autem, repellendus!. Lorem,
          ipsum dolor sit amet consectetur adipisicing elit. Officia, dolor totam, nihil modi enim quaerat
          exercitationem, sed inventore dicta eos provident laborum tempore? Magnam laborum natus minima eum sint
          consectetur. </p>
      </div>
    </div>
  </div>
</div>
