<div class="wrapper">

  <app-header></app-header>

  <div id="content">
    <h1 class="content-heading">HUMAN RIGHTS FOR ALL</h1>
    <p class="content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
    <div class="news">
      <app-news-list></app-news-list>
      <div class="news-footer">
        <p class="content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt
          ut
          labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
        <app-button [title]="'Join Us'" [className]="'medium'"></app-button>
      </div>
    </div>
  </div>
  <div class="content-footer row">
    <div class="content col-lg-6">
      <div class="wrapper">
        <h1 class="heading">All Human Beings are Born Free and Equal</h1>
        <div class="text">Lorem ipsum dolor usings sitting amet, consec tetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Quis ipsum suspend isse ultrices in gravida. Risus commodo
          viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ducimus, aliquid, ullam explicabo ut facilis minus ipsam adipisci inventore eaque nobis dolores culpa
          corrupti? Rerum eveniet maiores iure soluta, quia expedita!</div>
      </div>
    </div>
    <div class="img col-lg-6">
      <img src="../assets/images/content1.png" alt="">
    </div>
  </div>
  <div class="content-footer2">

  </div>

</div>
