<div class="wrapper">

  <app-header></app-header>

  <div id="content">
    <h1 class="content-heading">HUMAN RIGHTS FOR ALL</h1>
    <p class="content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
    <div class="news-list">
      <app-news-item *ngFor="let news of newsList" [newsImg]="news.image" [newsHeading]="news.heading"
        [newsDesc]="news.desc"></app-news-item>
    </div>
    <div class="news-footer">
      <p class="content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut
        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
      <app-button [title]="'Join Us'" [className]="'medium'"></app-button>
    </div>
  </div>

</div>
