<div class="wrapper" ng-init="getHeadBg">
  <!-- begin head -->
  <div id="header">
    <img src="{{headBg}}" alt="">
  </div>
  <!-- end head -->

  <!-- begin body -->
  <div id="content">
    <h1 class="content-heading">HUMAN RIGHTS FOR ALL</h1>
    <p class="content-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
  </div>
  <!-- end body -->

  <!-- begin footer -->
  <div id="footer"></div>
  <!-- end footer -->
</div>
