button {
  outline: none;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 888px;
  color: var(--white-color);
  padding: 15px 0;
  min-width: 171px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}
button:hover {
  opacity: 0.7;
}
.medium {
  min-width: 300px;
}

div {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 739px) {
  button {
    min-width: 300px;
  }
}
